#cke_body {
        box-shadow: none!important;
        border : 1px solid #e6e6e6;
        .cke_top {
                border-bottom: 1px solid #e6e6e6!important;
        }
}

.cke_toolbar {
        border-right : 1px solid #e6e6e6!important;
        margin-bottom : 5px!important;
}
.cke_toolgroup {
        border : none!important;
        background: #FCFCFC!important;
}
