$body : #EBEBEB;
$body : #f9f9f9;
$body : #fff;
$body : #f1f1f1;
$orange : #FF670F;
$blue  : #20C2F8;

$megenta : #56264B;
$lightBlue : #00D0DD;
$cream : #F6F1ED;

$orange-real : #D88D03;
//$orange : #3c948b;
$red : #FF5F69;

$orange : #E61875;
$orange-real : #E61875;

$orange : #FB503B;
$orange-real : #FB503B;
$orange : #EB7260;
$orange-real : #EB7260;
//$darkblue : rgba(55, 174, 204, 0.95);
$darkblue : rgba(55, 65, 85, 0.95);
$darkblue-hex : #37aecc;
$darkblue-hover : rgba(0,0,0,0.15);
$darkGray : #373b44 url('http://devartisans.com/images/uploads/img55e08973ede5b.png');
$yellow : rgba(252,163,45, .95);
$black : #2A2A2A;

$blue : rgba(38, 81, 158, .95);
$gray : #373b44;

$light-yellow : #fdd0b6;
$light-red-border : #f7630c;

$blue-material : #2196F3;
$darkblue-material : #1A237E;
$heading2 : #4bafd9;

$blue-texture : #7CCEE0 url('http://devartisans.com/images/uploads/img560684b8ab55b.jpg');
$darkblue-texture : #3999AD url('http://devartisans.com/images/uploads/img560684c2db2e5.PNG');
$gray-texture : #38393B url('http://devartisans.com/images/uploads/img56068385dd04e.jpg');
$lightblue-texture : #5269D9 url('http://devartisans.com/images/uploads/img560686a62f36a.PNG');

$image-shadow : 0 1px 2px rgba(0,0,0,0.4),0 0 0 1px rgba(0,0,0,0.15);